<% layout('/layouts/boilerplate.ejs') %>
<script>
    const mapToken="<%= process.env.MAP_TOKEN %>";
    const coordinates= <%- JSON.stringify( item.geometry.coordinates ) %>
    const title=<%- JSON.stringify(item.title)%>
  </script>
<body>
  
    <div class="row mt-3">
        <div class="col-8 offset-3" >
            <br>
            <h1>Listing Details</h1>
            <br>
            <div class="card" style="width: 40rem;">
    <img src="<%=item.image.url%>" class="card-img-top show-image" alt="listing_image">
    <div class="card-body">
    <h5 class="card-title mt-4"><%= item.title %></h5>
       <P class="card-text">Owned by  <i><%= item.owner.username %></i></P>
        <p class="card-text"><i><%= item.description %></i><br></p>
        <p class="card-text">&#8377;<%= item.price.toLocaleString("en-IN") %><br></p>
        <p class="card-text"><%= item.location %><br></p>
       <p class="card-text"><%= item.country %><br></p> 
       <% if(currentUser && currentUser._id.equals(item.owner._id)){%>
        <div class="show-btns">
            <a href="/listings/edit/<%= item._id %>" class="btn edit-btn btn-lg show-edit-btn">Edit</a>
            <form method="post" action="/listings/<%= item._id %>?_method=DELETE">
            <button class="btn btn-dark btn-lg show-delete-btn">Delete</button>
            </form>
        </div>
        <%}%>
      </div>
    </div>
   </div>
 </div> 
 <div class="row mb-3 mt-3">
  <% if(currentUser){ %>
 <form class="col-6 offset-3 needs-validation" action="/listings/<%=item._id%>/reviews" method="post" novalidate>
  <hr>
   <h4>Leave a review</h4>
  <label for="rating" class="form-label">Rating</label>
  <div>
  <fieldset class="starability-heart">
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
  <label for="comment" class="form-label">Comment</label>
  <textarea rows="5" cols="6" id="comment" class="form-control" name="review[comment]" required></textarea >
    <div class="invalid-feedback">Enter a valid comment</div>
  </div>
  <br>
  <button class="btn btn-outline-dark">Submit</button>
 </form>
  <%}%>
 </div>
 <div class="col-6 offset-3 mb-3 mt-3">
   <% if(item.reviews.length>0) {%>
  <hr>
  <h4 class="mt-3">All Reviews</h4>
  <div class="row mt-3">
  <% for(let review of item.reviews){ %>
    <div class="card review-card col-5 mb-3 ms-3">
      <div class="card-body">
        <h5 class="card-title">@<i><b><%= review.author.username %></b></i></h5>
        <p class="card-text"><%= review.comment %></p>
          <p class="starability-result card-text" data-rating="<%=review.rating %>">
         </p> 
       <% if(currentUser && currentUser._id.equals(review.author._id)){%> 
        <form method="post" action="/listings/<%=item._id%>/reviews/<%=review._id%>?_method=DELETE">
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
        <%}%>
      </div>
    </div>
  <% } %>
</div>
<%}%>
 </div>

<div class="col-6 offset-3 mb-3">
<h3>Where you'll be</h3>
<div id="map"></div>

</div>
</body>
<script src="/js/map.js"></script>